body{
  background-image: url('https://images.unsplash.com/photo-1515462277126-2dd0c162007a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=635&q=80');
  background-size: 100vw auto;
  font-family: Arial;
  height: 100vh;
}

.menu{
  background-color: white;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu li{
  list-style: none;
}

a{
  color: teal;
  text-decoration: none;  
}

a:hover{
  text-decoration: underline;
}

.site-subtitle,
.site-title{
  color: whitesmoke;
  text-align: center;
}